codelisten_xsd/xjustiz_2610_cl_zwangsvollstreckung_3_2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://www.xjustiz.de"
           xmlns:xoev-code="http://xoev.de/schemata/code/1_0"
           targetNamespace="http://www.xjustiz.de"
           version="3.2.0"
           elementFormDefault="unqualified"
           attributeFormDefault="unqualified">
   <xs:annotation>
      <xs:appinfo>
         <standard>
            <nameLang>Strukturierte Fachdaten für die Kommunikation im elektronischen Rechtsverkehr</nameLang>
            <nameKurz>XJustiz</nameKurz>
            <nameTechnisch>xjustiz</nameTechnisch>
            <kennung>urn:xoev-de:blk-ag-it-standards:standard:xjustiz</kennung>
            <beschreibung>XJustiz ist der bundesweit einheitliche Standard für den Austausch strukturierter elektronischer Informationen mit der Justiz.</beschreibung>
         </standard>
         <versionStandard>
            <version>3.6.2</version>
            <beschreibung>XJustiz beschreibt ein standardisiertes Datenaustauschformat für die elektronische Kommunikation innerhalb und mit der Justizverwaltung.</beschreibung>
            <versionXOEVProfil>3.0.2</versionXOEVProfil>
            <versionXOEVHandbuch>2.3.1</versionXOEVHandbuch>
            <versionXGenerator>3.2.3</versionXGenerator>
            <versionModellierungswerkzeug>2021x</versionModellierungswerkzeug>
            <nameModellierungswerkzeug>MagicDraw</nameModellierungswerkzeug>
         </versionStandard>
      </xs:appinfo>
   </xs:annotation>
   <xs:import schemaLocation="xoev-code.xsd"
              namespace="http://xoev.de/schemata/code/1_0"/>
   <xs:complexType name="Code.ZVSTR.Altersstufen.Unterhalt">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>ZVSTR.Altersstufen.Unterhalt</nameLang>
               <nameKurz>ZVSTR.Altersstufen.Unterhalt</nameKurz>
               <nameTechnisch>zvstr.altersstufen.unterhalt</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:zvstr.altersstufen.unterhalt</kennung>
               <beschreibung>Codeliste der verschiedenen Altersstufen beim Unterhalt.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
            <versionCodeliste>
               <version>2.0</version>
               <versionCodelistenHandbuch>1.1</versionCodelistenHandbuch>
            </versionCodeliste>
            <codelistenspalten>
               <code>
                  <spaltennameLang>Schlüssel</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>true</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>true</empfohleneCodeSpalte>
               </code>
               <wert>
                  <spaltennameLang>Wert</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>false</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>false</empfohleneCodeSpalte>
               </wert>
            </codelistenspalten>
            <genutzteCodeSpalte>code</genutzteCodeSpalte>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="tns:zvstr.altersstufen.unterhalt"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:zvstr.altersstufen.unterhalt"/>
            <xs:attribute name="listVersionID"
                          type="xs:normalizedString"
                          use="optional"
                          fixed="2.0"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.ZVSTR.Anlage">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>ZVSTR.Anlage</nameLang>
               <nameKurz>ZVSTR.Anlage</nameKurz>
               <nameTechnisch>zvstr.anlage</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:zvstr.anlage</kennung>
               <beschreibung>Codeliste der verschiedenen Anlagearten.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
            <versionCodeliste>
               <version>2.3</version>
               <versionCodelistenHandbuch>1.2</versionCodelistenHandbuch>
            </versionCodeliste>
            <codelistenspalten>
               <code>
                  <spaltennameLang>Schlüssel</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>true</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>true</empfohleneCodeSpalte>
               </code>
               <wert>
                  <spaltennameLang>Wert</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>false</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>false</empfohleneCodeSpalte>
               </wert>
            </codelistenspalten>
            <genutzteCodeSpalte>code</genutzteCodeSpalte>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="tns:zvstr.anlage"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:zvstr.anlage"/>
            <xs:attribute name="listVersionID"
                          type="xs:normalizedString"
                          use="optional"
                          fixed="2.3"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.ZVSTR.Antrag.Zustellung">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>ZVSTR.Antrag.Zustellung</nameLang>
               <nameKurz>ZVSTR.Antrag.Zustellung</nameKurz>
               <nameTechnisch>zvstr.antrag.zustellung</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:zvstr.antrag.zustellung</kennung>
               <beschreibung>Codeliste der verschiedenen Antragsarten bei Zustellung.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
            <versionCodeliste>
               <version>2.2</version>
               <versionCodelistenHandbuch>1.1</versionCodelistenHandbuch>
            </versionCodeliste>
            <codelistenspalten>
               <code>
                  <spaltennameLang>Schlüssel</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>true</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>true</empfohleneCodeSpalte>
               </code>
               <wert>
                  <spaltennameLang>Wert</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>false</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>false</empfohleneCodeSpalte>
               </wert>
            </codelistenspalten>
            <genutzteCodeSpalte>code</genutzteCodeSpalte>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="tns:zvstr.antrag.zustellung"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:zvstr.antrag.zustellung"/>
            <xs:attribute name="listVersionID"
                          type="xs:normalizedString"
                          use="optional"
                          fixed="2.2"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.ZVSTR.Entscheidungsumfang.PfUEB">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>ZVSTR.Entscheidungsumfang.PfUEB</nameLang>
               <nameKurz>ZVSTR.Entscheidungsumfang.PfUEB</nameKurz>
               <nameTechnisch>zvstr.entscheidungsumfang.pfueb</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:zvstr.entscheidungsumfang.pfueb</kennung>
               <beschreibung>Codeliste der verschiedenen Entscheidungsumfänge bei PfÜB.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
            <versionCodeliste>
               <version>2.1</version>
               <versionCodelistenHandbuch>1.1</versionCodelistenHandbuch>
            </versionCodeliste>
            <codelistenspalten>
               <code>
                  <spaltennameLang>Schlüssel</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>true</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>true</empfohleneCodeSpalte>
               </code>
               <wert>
                  <spaltennameLang>Wert</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>false</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>false</empfohleneCodeSpalte>
               </wert>
            </codelistenspalten>
            <genutzteCodeSpalte>code</genutzteCodeSpalte>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="tns:zvstr.entscheidungsumfang.pfueb"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:zvstr.entscheidungsumfang.pfueb"/>
            <xs:attribute name="listVersionID"
                          type="xs:normalizedString"
                          use="optional"
                          fixed="2.1"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.ZVSTR.Titelart">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>ZVSTR.Titelart</nameLang>
               <nameKurz>ZVSTR.Titelart</nameKurz>
               <nameTechnisch>zvstr.titelart</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:zvstr.titelart</kennung>
               <beschreibung>Codeliste der verschiedenen Titelarten.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
            <versionCodeliste>
               <version>2.0</version>
               <versionCodelistenHandbuch>1.1</versionCodelistenHandbuch>
            </versionCodeliste>
            <codelistenspalten>
               <code>
                  <spaltennameLang>Schlüssel</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>true</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>true</empfohleneCodeSpalte>
               </code>
               <wert>
                  <spaltennameLang>Wert</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>false</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>false</empfohleneCodeSpalte>
               </wert>
            </codelistenspalten>
            <genutzteCodeSpalte>code</genutzteCodeSpalte>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="tns:zvstr.titelart"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:zvstr.titelart"/>
            <xs:attribute name="listVersionID"
                          type="xs:normalizedString"
                          use="optional"
                          fixed="2.0"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.ZVSTR.Unterhaltsberechtigter">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>ZVSTR.Unterhaltsberechtigter</nameLang>
               <nameKurz>ZVSTR.Unterhaltsberechtigter</nameKurz>
               <nameTechnisch>zvstr.unterhaltsberechtigter</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:zvstr.unterhaltsberechtigter</kennung>
               <beschreibung>Codeliste der Unterhaltsberechtigten.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
            <versionCodeliste>
               <version>1.0</version>
               <versionCodelistenHandbuch>1.1</versionCodelistenHandbuch>
            </versionCodeliste>
            <codelistenspalten>
               <code>
                  <spaltennameLang>Schlüssel</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>true</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>true</empfohleneCodeSpalte>
               </code>
               <wert>
                  <spaltennameLang>Wert</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>false</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>false</empfohleneCodeSpalte>
               </wert>
            </codelistenspalten>
            <genutzteCodeSpalte>code</genutzteCodeSpalte>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="tns:zvstr.unterhaltsberechtigter"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:zvstr.unterhaltsberechtigter"/>
            <xs:attribute name="listVersionID"
                          type="xs:normalizedString"
                          use="optional"
                          fixed="1.0"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.ZVSTR.Zeitraum.Unterhaltsforderung">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>ZVSTR.Zeitraum.Unterhaltsforderung</nameLang>
               <nameKurz>ZVSTR.Zeitraum.Unterhaltsforderung</nameKurz>
               <nameTechnisch>zvstr.zeitraum.unterhaltsforderung</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:zvstr.zeitraum.unterhaltsforderung</kennung>
               <beschreibung>Codeliste der verschiedenen Zeiträume bei Unterhaltsforderung.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
            <versionCodeliste>
               <version>2.2</version>
               <versionCodelistenHandbuch>1.1</versionCodelistenHandbuch>
            </versionCodeliste>
            <codelistenspalten>
               <code>
                  <spaltennameLang>Schlüssel</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>true</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>true</empfohleneCodeSpalte>
               </code>
               <wert>
                  <spaltennameLang>Wert</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>false</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>false</empfohleneCodeSpalte>
               </wert>
            </codelistenspalten>
            <genutzteCodeSpalte>code</genutzteCodeSpalte>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="tns:zvstr.zeitraum.unterhaltsforderung"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:zvstr.zeitraum.unterhaltsforderung"/>
            <xs:attribute name="listVersionID"
                          type="xs:normalizedString"
                          use="optional"
                          fixed="2.2"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.ZVSTR.Zinsmethode.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>GVZ.Zinsmethode</nameLang>
               <nameKurz>GVZ.Zinsmethode</nameKurz>
               <nameTechnisch>gvz.zinsmethode</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:gvz.zinsmethode</kennung>
               <beschreibung>Codeliste der verschiedenen Zinsmethoden.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
         <xs:documentation>Diese Codeliste verweist auf die im XRepository veröffentlichte Codeliste GVZ.Zinsmethode.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:gvz.zinsmethode"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="zvstr.altersstufen.unterhalt">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>ZVSTR.Altersstufen.Unterhalt</nameLang>
               <nameKurz>ZVSTR.Altersstufen.Unterhalt</nameKurz>
               <nameTechnisch>zvstr.altersstufen.unterhalt</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:zvstr.altersstufen.unterhalt</kennung>
               <beschreibung>Codeliste der verschiedenen Altersstufen beim Unterhalt.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
            <versionCodeliste>
               <version>2.0</version>
               <versionCodelistenHandbuch>1.1</versionCodelistenHandbuch>
            </versionCodeliste>
            <codelistenspalten>
               <code>
                  <spaltennameLang>Schlüssel</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>true</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>true</empfohleneCodeSpalte>
               </code>
               <wert>
                  <spaltennameLang>Wert</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>false</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>false</empfohleneCodeSpalte>
               </wert>
            </codelistenspalten>
         </xs:appinfo>
      </xs:annotation>
      <xs:restriction base="xs:token">
         <xs:enumeration value="001">
            <xs:annotation>
               <xs:appinfo>
                  <wert>erste Altersstufe</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="002">
            <xs:annotation>
               <xs:appinfo>
                  <wert>zweite Altersstufe</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="003">
            <xs:annotation>
               <xs:appinfo>
                  <wert>dritte Altersstufe</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="zvstr.anlage">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>ZVSTR.Anlage</nameLang>
               <nameKurz>ZVSTR.Anlage</nameKurz>
               <nameTechnisch>zvstr.anlage</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:zvstr.anlage</kennung>
               <beschreibung>Codeliste der verschiedenen Anlagearten.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
            <versionCodeliste>
               <version>2.3</version>
               <versionCodelistenHandbuch>1.2</versionCodelistenHandbuch>
            </versionCodeliste>
            <codelistenspalten>
               <code>
                  <spaltennameLang>Schlüssel</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>true</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>true</empfohleneCodeSpalte>
               </code>
               <wert>
                  <spaltennameLang>Wert</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>false</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>false</empfohleneCodeSpalte>
               </wert>
            </codelistenspalten>
         </xs:appinfo>
      </xs:annotation>
      <xs:restriction base="xs:token">
         <xs:enumeration value="001">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Akten des Vollstreckungsorgans</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="002">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Belege zur Erklärung über die persönlichen und wirtschaftlichen Verhältnisse</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="003">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Beschluss über bewilligte Prozesskostenhilfe</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="004">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Im Fall eines Antrags auf Bewilligung von Prozesskostenhilfe: Erklärung über die persönlichen und wirtschaftlichen Verhältnisse des Gläubigers mit Belegen</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="005">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Abdruck Gerichtskostenstempler</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="006">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Mitteilung/-en des Vollstreckungsorgans</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="007">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Schuldtitel</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="009">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Vollstreckungsprotokoll/-e</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="010">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Vollstreckungsunterlagen</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="011">
            <xs:annotation>
               <xs:appinfo>
                  <wert>sonstige</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="012">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Drittauskünfte</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="013">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Vollstreckungstitel</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="014">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Vollmacht</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="015">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Geldempfangsvollmacht</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="016">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Forderungsaufstellung - Anlage 1</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="017">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Forderungsaufstellung</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="019">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Aufstellung der Inkassokosten</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="020">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Elektronische Kostenmarke</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="021">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Aufstellung über die geleisteten Zahlungen</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="022">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Aufstellung der bisherigen Vollstreckungskosten mit Belegen</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="023">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Bescheid nach § 9 Absatz 2 UhVorschG</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="024">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Belege zu Angaben über die persönlichen und wirtschaftlichen Verhältnisse der Schuldner oder Dritter</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="025">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Unterlagen, die darlegen, dass eine Anhörung wichtige Interessen des Gläubigers gefährden würde</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="026">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Vorpfändungsbenachrichtigung</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="027">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Negativauskunft des Einwohnermeldeamtes</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="zvstr.antrag.zustellung">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>ZVSTR.Antrag.Zustellung</nameLang>
               <nameKurz>ZVSTR.Antrag.Zustellung</nameKurz>
               <nameTechnisch>zvstr.antrag.zustellung</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:zvstr.antrag.zustellung</kennung>
               <beschreibung>Codeliste der verschiedenen Antragsarten bei Zustellung.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
            <versionCodeliste>
               <version>2.2</version>
               <versionCodelistenHandbuch>1.1</versionCodelistenHandbuch>
            </versionCodeliste>
            <codelistenspalten>
               <code>
                  <spaltennameLang>Schlüssel</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>true</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>true</empfohleneCodeSpalte>
               </code>
               <wert>
                  <spaltennameLang>Wert</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>false</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>false</empfohleneCodeSpalte>
               </wert>
            </codelistenspalten>
         </xs:appinfo>
      </xs:annotation>
      <xs:restriction base="xs:token">
         <xs:enumeration value="001">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Antrag Zustellung zu vermitteln mit Aufforderung nach § 840 ZPO</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="002">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Antrag Zustellung zu vermitteln ohne Aufforderung nach § 840 ZPO</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="zvstr.entscheidungsumfang.pfueb">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>ZVSTR.Entscheidungsumfang.PfUEB</nameLang>
               <nameKurz>ZVSTR.Entscheidungsumfang.PfUEB</nameKurz>
               <nameTechnisch>zvstr.entscheidungsumfang.pfueb</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:zvstr.entscheidungsumfang.pfueb</kennung>
               <beschreibung>Codeliste der verschiedenen Entscheidungsumfänge bei PfÜB.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
            <versionCodeliste>
               <version>2.1</version>
               <versionCodelistenHandbuch>1.1</versionCodelistenHandbuch>
            </versionCodeliste>
            <codelistenspalten>
               <code>
                  <spaltennameLang>Schlüssel</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>true</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>true</empfohleneCodeSpalte>
               </code>
               <wert>
                  <spaltennameLang>Wert</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>false</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>false</empfohleneCodeSpalte>
               </wert>
            </codelistenspalten>
         </xs:appinfo>
      </xs:annotation>
      <xs:restriction base="xs:token">
         <xs:enumeration value="001">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Pfändungs- und Überweisungsbeschluss</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="002">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Pfändungsbeschluss isoliert</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="zvstr.titelart">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>ZVSTR.Titelart</nameLang>
               <nameKurz>ZVSTR.Titelart</nameKurz>
               <nameTechnisch>zvstr.titelart</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:zvstr.titelart</kennung>
               <beschreibung>Codeliste der verschiedenen Titelarten.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
            <versionCodeliste>
               <version>2.0</version>
               <versionCodelistenHandbuch>1.1</versionCodelistenHandbuch>
            </versionCodeliste>
            <codelistenspalten>
               <code>
                  <spaltennameLang>Schlüssel</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>true</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>true</empfohleneCodeSpalte>
               </code>
               <wert>
                  <spaltennameLang>Wert</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>false</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>false</empfohleneCodeSpalte>
               </wert>
            </codelistenspalten>
         </xs:appinfo>
      </xs:annotation>
      <xs:restriction base="xs:token">
         <xs:enumeration value="001">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Anerkenntnisurteil</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="002">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Arrestbeschluss</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="003">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Arresturteil</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="004">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Ausstandsverzeichnis</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="005">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Auszug Insolvenztabelle</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="006">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Beitragsbescheid</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="007">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Beschluss</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="008">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Beschluss gem. § 758a Absatz 1 ZPO</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="009">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Beschluss gem. § 758a Absatz 1, 4 ZPO</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="010">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Beschluss gem. § 758a Absatz 4 ZPO</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="011">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Duldungsbescheid</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="012">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Einstweilige Anordnung</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="013">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Einstweilige Verfügung</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="014">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Endurteil</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="015">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Grundschuldbestellungsurkunde</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="016">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Haftbefehl</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="017">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Hypothekenbestellungsurkunde</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="018">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Kindesunterhaltsbeschluss</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="019">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Kostenfestsetzungsbeschluss</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="020">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Kostenrechnung</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="021">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Leistungsbescheid</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="022">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Notarielle Kostenrechnung</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="023">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Notarielle Urkunde</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="024">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Ordnungsgeldbeschluss</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="025">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Pfändungs- und Überweisungsbeschluss</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="026">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Prozessbürgschaft</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="027">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Scheck-Urteil</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="028">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Scheck-Vollstreckungsbescheid</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="029">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Sonstiger</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="030">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Teilanerkenntnis- und Endurteil</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="031">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Teilurteil</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="032">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Urkunde</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="033">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Urteil</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="034">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Vergleich</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="035">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Versäumnisurteil</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="036">
            <xs:annotation>
               <xs:appinfo>
                  <wert>vollstreckbarer Verwaltungsakt</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="037">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Vollstreckbarerklärung eines Schiedsspruch</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="038">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Vollstreckungsauftrag</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="039">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Vollstreckungsbefehl</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="040">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Vollstreckungsbescheid</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="041">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Vollstreckungsersuchen</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="042">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Vollstreckungsurteil</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="043">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Vollstreckungsverfügung</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="044">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Vorführbefehl</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="045">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Vorläufiges Zahlungsverbot</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="046">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Vorpfändung</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="047">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Wechsel-Urteil</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="048">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Wechsel-Vollstreckungsbescheid</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="049">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Zuschlagsbeschluss</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="050">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Zwangsgeldbeschluss</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="zvstr.unterhaltsberechtigter">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>ZVSTR.Unterhaltsberechtigter</nameLang>
               <nameKurz>ZVSTR.Unterhaltsberechtigter</nameKurz>
               <nameTechnisch>zvstr.unterhaltsberechtigter</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:zvstr.unterhaltsberechtigter</kennung>
               <beschreibung>Codeliste der Unterhaltsberechtigten.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
            <versionCodeliste>
               <version>1.0</version>
               <versionCodelistenHandbuch>1.1</versionCodelistenHandbuch>
            </versionCodeliste>
            <codelistenspalten>
               <code>
                  <spaltennameLang>Schlüssel</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>true</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>true</empfohleneCodeSpalte>
               </code>
               <wert>
                  <spaltennameLang>Wert</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>false</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>false</empfohleneCodeSpalte>
               </wert>
            </codelistenspalten>
         </xs:appinfo>
      </xs:annotation>
      <xs:restriction base="xs:token">
         <xs:enumeration value="001">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Kind</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="002">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Ehegatte/Ehegattin oder eingetragene(r) Lebenspartner/Lebenspartnerin</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="003">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Mutter oder Vater nach § 1615l BGB</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="004">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Eltern</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="005">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Enkel</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="zvstr.zeitraum.unterhaltsforderung">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>ZVSTR.Zeitraum.Unterhaltsforderung</nameLang>
               <nameKurz>ZVSTR.Zeitraum.Unterhaltsforderung</nameKurz>
               <nameTechnisch>zvstr.zeitraum.unterhaltsforderung</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:zvstr.zeitraum.unterhaltsforderung</kennung>
               <beschreibung>Codeliste der verschiedenen Zeiträume bei Unterhaltsforderung.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
            <versionCodeliste>
               <version>2.2</version>
               <versionCodelistenHandbuch>1.1</versionCodelistenHandbuch>
            </versionCodeliste>
            <codelistenspalten>
               <code>
                  <spaltennameLang>Schlüssel</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>true</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>true</empfohleneCodeSpalte>
               </code>
               <wert>
                  <spaltennameLang>Wert</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>false</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>false</empfohleneCodeSpalte>
               </wert>
            </codelistenspalten>
         </xs:appinfo>
      </xs:annotation>
      <xs:restriction base="xs:token">
         <xs:enumeration value="001">
            <xs:annotation>
               <xs:appinfo>
                  <wert>ab Vollendung des achtzehnten Lebensjahres</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="002">
            <xs:annotation>
               <xs:appinfo>
                  <wert>von Vollendung zwölftes bis zur Vollendung achtzehntes Lebensjahr</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="003">
            <xs:annotation>
               <xs:appinfo>
                  <wert>von Vollendung sechstes bis Vollendung zwölften Lebensjahres</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="004">
            <xs:annotation>
               <xs:appinfo>
                  <wert>bis zur Vollendung des sechsten Lebensjahres</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="005">
            <xs:annotation>
               <xs:appinfo>
                  <wert>sonstiger Zeitraum</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>
