lookups/xjustiz_2610_cl_zwangsvollstreckung_3_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://www.xjustiz.de"
           xmlns:xoev-code="http://xoev.de/schemata/code/1_0"
           targetNamespace="http://www.xjustiz.de"
           version="3.0.1"
           elementFormDefault="unqualified"
           attributeFormDefault="unqualified">
   <xs:annotation>
      <xs:appinfo>
         <standard>
            <nameLang>Strukturierte Fachdaten für die Kommunikation im elektronischen Rechtsverkehr</nameLang>
            <nameKurz>XJustiz</nameKurz>
            <nameTechnisch>xjustiz</nameTechnisch>
            <kennung>urn:xoev-de:blk-ag-it-standards:standard:xjustiz</kennung>
            <beschreibung>XJustiz ist der bundesweit einheitliche Standard für den Austausch strukturierter elektronischer Informationen mit der Justiz.</beschreibung>
         </standard>
         <versionStandard>
            <version>3.2.1</version>
            <beschreibung>XJustiz beschreibt ein standardisiertes Datenaustauschformat für die elektronische Kommunikation innerhalb und mit der Justizverwaltung.</beschreibung>
            <versionXOEVProfil>1.6.1</versionXOEVProfil>
            <versionXOEVHandbuch>2.2</versionXOEVHandbuch>
            <versionXGenerator>3.0.1</versionXGenerator>
            <versionModellierungswerkzeug>19.0 SP3</versionModellierungswerkzeug>
            <nameModellierungswerkzeug>MagicDraw</nameModellierungswerkzeug>
         </versionStandard>
      </xs:appinfo>
   </xs:annotation>
   <xs:import schemaLocation="xoev-code.xsd"
              namespace="http://xoev.de/schemata/code/1_0"/>
   <xs:complexType name="Code.ZVSTR.Altersstufen.Unterhalt">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>ZVSTR.Altersstufen.Unterhalt</nameLang>
               <nameKurz>ZVSTR.Altersstufen.Unterhalt</nameKurz>
               <nameTechnisch>zvstr.altersstufen.unterhalt</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:zvstr.altersstufen.unterhalt</kennung>
               <beschreibung>Codeliste der verschiedenen Altersstufen beim Unterhalt.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards für die Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
            <versionCodeliste>
               <version>2.0</version>
               <versionCodelistenHandbuch>1.0</versionCodelistenHandbuch>
            </versionCodeliste>
            <codelistenspalten>
               <code>
                  <spaltennameLang>Schlüssel</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>true</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>true</empfohleneCodeSpalte>
               </code>
               <wert>
                  <spaltennameLang>Wert</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>false</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>false</empfohleneCodeSpalte>
               </wert>
            </codelistenspalten>
            <genutzteCodeSpalte>code</genutzteCodeSpalte>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code">
                  <xs:simpleType>
                     <xs:restriction base="xs:token">
                        <xs:enumeration value="001">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>erste Altersstufe</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="002">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>zweite Altersstufe</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="003">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>dritte Altersstufe</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                     </xs:restriction>
                  </xs:simpleType>
               </xs:element>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:zvstr.altersstufen.unterhalt"/>
            <xs:attribute name="listVersionID"
                          type="xs:normalizedString"
                          use="optional"
                          fixed="2.0"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.ZVSTR.Anlage">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>ZVSTR.Anlage</nameLang>
               <nameKurz>ZVSTR.Anlage</nameKurz>
               <nameTechnisch>zvstr.anlage</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:zvstr.anlage</kennung>
               <beschreibung>Codeliste der verschiedenen Anlagearten.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards für die Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
            <versionCodeliste>
               <version>2.1</version>
               <versionCodelistenHandbuch>1.0</versionCodelistenHandbuch>
            </versionCodeliste>
            <codelistenspalten>
               <code>
                  <spaltennameLang>Schlüssel</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>true</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>true</empfohleneCodeSpalte>
               </code>
               <wert>
                  <spaltennameLang>Wert</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>false</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>false</empfohleneCodeSpalte>
               </wert>
            </codelistenspalten>
            <genutzteCodeSpalte>code</genutzteCodeSpalte>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code">
                  <xs:simpleType>
                     <xs:restriction base="xs:token">
                        <xs:enumeration value="001">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>Akten des Vollstreckungsorgans</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="002">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>Belege zur Erklärung über die persönlichen und wirtschaftlichen Verhältnisse</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="003">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>Bewilligungsbeschluss PKH</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="004">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>Erklärung über die persönlichen und wirtschaftlichen Verhältnisse</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="005">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>Gerichtskostenstempler</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="006">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>Mitteilung/-en des Vollstreckungsorgans</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="007">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>Schuldtitel</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="008">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>Verrechnungsscheck für Gerichtskosten</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="009">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>Vollstreckungsprotokoll/-e</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="010">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>Vollstreckungsunterlagen</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="011">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>sonstige</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="012">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>Drittauskünfte</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="013">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>Vollstreckungstitel</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="014">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>Vollmacht</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="015">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>Geldempfangsvollmacht</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="016">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>Forderungsaufstellung - Anlage 1</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="017">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>Forderungsaufstellung</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="018">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>Anwaltskosten</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="019">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>Inkassokosten</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                     </xs:restriction>
                  </xs:simpleType>
               </xs:element>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:zvstr.anlage"/>
            <xs:attribute name="listVersionID"
                          type="xs:normalizedString"
                          use="optional"
                          fixed="2.1"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.ZVSTR.Anteil.Hauptforderung">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>ZVSTR.Anteil.Hauptforderung</nameLang>
               <nameKurz>ZVSTR.Anteil.Hauptforderung</nameKurz>
               <nameTechnisch>zvstr.anteil.hauptforderung</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:zvstr.anteil.hauptforderung</kennung>
               <beschreibung>Codeliste der verschiedenen Anteilsarten an der Hauptforderung.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards für die Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
            <versionCodeliste>
               <version>2.0</version>
               <versionCodelistenHandbuch>1.0</versionCodelistenHandbuch>
            </versionCodeliste>
            <codelistenspalten>
               <code>
                  <spaltennameLang>Schlüssel</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>true</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>true</empfohleneCodeSpalte>
               </code>
               <wert>
                  <spaltennameLang>Wert</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>false</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>false</empfohleneCodeSpalte>
               </wert>
            </codelistenspalten>
            <genutzteCodeSpalte>code</genutzteCodeSpalte>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code">
                  <xs:simpleType>
                     <xs:restriction base="xs:token">
                        <xs:enumeration value="001">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>Hauptforderung</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="002">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>Restforderung aus Hauptforderung</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="003">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>Teilhauptforderung</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                     </xs:restriction>
                  </xs:simpleType>
               </xs:element>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:zvstr.anteil.hauptforderung"/>
            <xs:attribute name="listVersionID"
                          type="xs:normalizedString"
                          use="optional"
                          fixed="2.0"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.ZVSTR.Antrag.Zustellung">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>ZVSTR.Antrag.Zustellung</nameLang>
               <nameKurz>ZVSTR.Antrag.Zustellung</nameKurz>
               <nameTechnisch>zvstr.antrag.zustellung</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:zvstr.antrag.zustellung</kennung>
               <beschreibung>Codeliste der verschiedenen Antragsarten bei Zustellung.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards für die Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
            <versionCodeliste>
               <version>2.1</version>
               <versionCodelistenHandbuch>1.0</versionCodelistenHandbuch>
            </versionCodeliste>
            <codelistenspalten>
               <code>
                  <spaltennameLang>Schlüssel</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>true</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>true</empfohleneCodeSpalte>
               </code>
               <wert>
                  <spaltennameLang>Wert</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>false</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>false</empfohleneCodeSpalte>
               </wert>
            </codelistenspalten>
            <genutzteCodeSpalte>code</genutzteCodeSpalte>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code">
                  <xs:simpleType>
                     <xs:restriction base="xs:token">
                        <xs:enumeration value="001">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>Antrag Zustellung zu vermitteln mit Aufforderung nach § 840 ZPO</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="002">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>Antrag Zustellung zu vermitteln ohne Aufforderung nach § 840 ZPO</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="003">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>Zustellung wird selbst veranlasst</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                     </xs:restriction>
                  </xs:simpleType>
               </xs:element>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:zvstr.antrag.zustellung"/>
            <xs:attribute name="listVersionID"
                          type="xs:normalizedString"
                          use="optional"
                          fixed="2.1"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.ZVSTR.Art.Kostenforderung">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>ZVSTR.Art.Kostenforderung</nameLang>
               <nameKurz>ZVSTR.Art.Kostenforderung</nameKurz>
               <nameTechnisch>zvstr.art.kostenforderung</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:zvstr.art.kostenforderung</kennung>
               <beschreibung>Codeliste der verschiedenen Arten der Kostenforderung.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards für die Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
            <versionCodeliste>
               <version>2.0</version>
               <versionCodelistenHandbuch>1.0</versionCodelistenHandbuch>
            </versionCodeliste>
            <codelistenspalten>
               <code>
                  <spaltennameLang>Schlüssel</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>true</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>true</empfohleneCodeSpalte>
               </code>
               <wert>
                  <spaltennameLang>Wert</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>false</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>false</empfohleneCodeSpalte>
               </wert>
            </codelistenspalten>
            <genutzteCodeSpalte>code</genutzteCodeSpalte>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code">
                  <xs:simpleType>
                     <xs:restriction base="xs:token">
                        <xs:enumeration value="001">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>bisherige Vollstreckungskosten</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="002">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>festgesetzte Kosten</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="003">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>Kosten des Mahn-/Vollstreckungsbescheides</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="004">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>titulierte vorgerichtliche Kosten</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="005">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>Wechselkosten</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                     </xs:restriction>
                  </xs:simpleType>
               </xs:element>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:zvstr.art.kostenforderung"/>
            <xs:attribute name="listVersionID"
                          type="xs:normalizedString"
                          use="optional"
                          fixed="2.0"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.ZVSTR.Auszahlungskonto">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>ZVSTR.Auszahlungskonto</nameLang>
               <nameKurz>ZVSTR.Auszahlungskonto</nameKurz>
               <nameTechnisch>zvstr.auszahlungskonto</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:zvstr.auszahlungskonto</kennung>
               <beschreibung>Codeliste der verschiedenen Arten der Auszahlungskonten.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards für die Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
            <versionCodeliste>
               <version>2.0</version>
               <versionCodelistenHandbuch>1.0</versionCodelistenHandbuch>
            </versionCodeliste>
            <codelistenspalten>
               <code>
                  <spaltennameLang>Schlüssel</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>true</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>true</empfohleneCodeSpalte>
               </code>
               <wert>
                  <spaltennameLang>Wert</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>false</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>false</empfohleneCodeSpalte>
               </wert>
            </codelistenspalten>
            <genutzteCodeSpalte>code</genutzteCodeSpalte>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code">
                  <xs:simpleType>
                     <xs:restriction base="xs:token">
                        <xs:enumeration value="001">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>Konto des Gläubigers</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="002">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>Konto des Gläubigervertreters</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                     </xs:restriction>
                  </xs:simpleType>
               </xs:element>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:zvstr.auszahlungskonto"/>
            <xs:attribute name="listVersionID"
                          type="xs:normalizedString"
                          use="optional"
                          fixed="2.0"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.ZVSTR.DynamischerZinssatz.Erhoehung">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>ZVSTR.DynamischerZinssatz.Erhoehung</nameLang>
               <nameKurz>ZVSTR.DynamischerZinssatz.Erhoehung</nameKurz>
               <nameTechnisch>zvstr.dynamischer-zinssatz.erhoehung</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:zvstr.dynamischer-zinssatz.erhoehung</kennung>
               <beschreibung>Codeliste der verschiedenen dynamischen Zinssatzerhöhungen.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards für die Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
            <versionCodeliste>
               <version>2.0</version>
               <versionCodelistenHandbuch>1.0</versionCodelistenHandbuch>
            </versionCodeliste>
            <codelistenspalten>
               <code>
                  <spaltennameLang>Schlüssel</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>true</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>true</empfohleneCodeSpalte>
               </code>
               <wert>
                  <spaltennameLang>Wert</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>false</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>false</empfohleneCodeSpalte>
               </wert>
            </codelistenspalten>
            <genutzteCodeSpalte>code</genutzteCodeSpalte>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code">
                  <xs:simpleType>
                     <xs:restriction base="xs:token">
                        <xs:enumeration value="001">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>2,5 Prozentpunkte</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="002">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>5 Prozentpunkte</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="003">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>8 Prozentpunkte</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="004">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>sonstige</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                     </xs:restriction>
                  </xs:simpleType>
               </xs:element>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:zvstr.dynamischer-zinssatz.erhoehung"/>
            <xs:attribute name="listVersionID"
                          type="xs:normalizedString"
                          use="optional"
                          fixed="2.0"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.ZVSTR.Entscheidungsumfang.PfUEB">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>ZVSTR.Entscheidungsumfang.PfUEB</nameLang>
               <nameKurz>ZVSTR.Entscheidungsumfang.PfUEB</nameKurz>
               <nameTechnisch>zvstr.entscheidungsumfang.pfueb</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:zvstr.entscheidungsumfang.pfueb</kennung>
               <beschreibung>Codeliste der verschiedenen Entscheidungsumfänge bei PfÜB.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards für die Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
            <versionCodeliste>
               <version>2.0</version>
               <versionCodelistenHandbuch>1.0</versionCodelistenHandbuch>
            </versionCodeliste>
            <codelistenspalten>
               <code>
                  <spaltennameLang>Schlüssel</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>true</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>true</empfohleneCodeSpalte>
               </code>
               <wert>
                  <spaltennameLang>Wert</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>false</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>false</empfohleneCodeSpalte>
               </wert>
            </codelistenspalten>
            <genutzteCodeSpalte>code</genutzteCodeSpalte>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code">
                  <xs:simpleType>
                     <xs:restriction base="xs:token">
                        <xs:enumeration value="001">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>Pfändungs- und Überweisungsbeschluss</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="002">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>Pfändungsbeschluss isoliert</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="003">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>Überweisungsbeschluss isoliert</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                     </xs:restriction>
                  </xs:simpleType>
               </xs:element>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:zvstr.entscheidungsumfang.pfueb"/>
            <xs:attribute name="listVersionID"
                          type="xs:normalizedString"
                          use="optional"
                          fixed="2.0"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.ZVSTR.Kindergeldstufe">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>ZVSTR.Kindergeldstufe</nameLang>
               <nameKurz>ZVSTR.Kindergeldstufe</nameKurz>
               <nameTechnisch>zvstr.kindergeldstufe</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:zvstr.kindergeldstufe</kennung>
               <beschreibung>Codeliste der verschiedenen Kindergeldstufen.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards für die Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
            <versionCodeliste>
               <version>2.0</version>
               <versionCodelistenHandbuch>1.0</versionCodelistenHandbuch>
            </versionCodeliste>
            <codelistenspalten>
               <code>
                  <spaltennameLang>Schlüssel</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>true</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>true</empfohleneCodeSpalte>
               </code>
               <wert>
                  <spaltennameLang>Wert</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>false</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>false</empfohleneCodeSpalte>
               </wert>
            </codelistenspalten>
            <genutzteCodeSpalte>code</genutzteCodeSpalte>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code">
                  <xs:simpleType>
                     <xs:restriction base="xs:token">
                        <xs:enumeration value="001">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>erstes/zweites Kind</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="002">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>drittes Kind</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="003">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>sonstiges</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                     </xs:restriction>
                  </xs:simpleType>
               </xs:element>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:zvstr.kindergeldstufe"/>
            <xs:attribute name="listVersionID"
                          type="xs:normalizedString"
                          use="optional"
                          fixed="2.0"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.ZVSTR.NichtBeruecksichtigterUnterhaltsberechtigter">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>ZVSTR.NichtBeruecksichtigterUnterhaltsberechtigter</nameLang>
               <nameKurz>ZVSTR.NichtBeruecksichtigterUnterhaltsberechtigter</nameKurz>
               <nameTechnisch>zvstr.nicht-beruecksichtigter-unterhaltsberechtigter</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:zvstr.nicht-beruecksichtigter-unterhaltsberechtigter</kennung>
               <beschreibung>Codeliste der verschiedenen Arten nicht berücksichtigter Unterhaltsberechtigter.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards für die Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
            <versionCodeliste>
               <version>2.0</version>
               <versionCodelistenHandbuch>1.0</versionCodelistenHandbuch>
            </versionCodeliste>
            <codelistenspalten>
               <code>
                  <spaltennameLang>Schlüssel</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>true</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>true</empfohleneCodeSpalte>
               </code>
               <wert>
                  <spaltennameLang>Wert</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>false</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>false</empfohleneCodeSpalte>
               </wert>
            </codelistenspalten>
            <genutzteCodeSpalte>code</genutzteCodeSpalte>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code">
                  <xs:simpleType>
                     <xs:restriction base="xs:token">
                        <xs:enumeration value="001">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>Ehegatte</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="002">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>Kind/Kinder</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="003">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>Lebenspartner/Lebenspartnerin</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                     </xs:restriction>
                  </xs:simpleType>
               </xs:element>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:zvstr.nicht-beruecksichtigter-unterhaltsberechtigter"/>
            <xs:attribute name="listVersionID"
                          type="xs:normalizedString"
                          use="optional"
                          fixed="2.0"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.ZVSTR.Titelart">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>ZVSTR.Titelart</nameLang>
               <nameKurz>ZVSTR.Titelart</nameKurz>
               <nameTechnisch>zvstr.titelart</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:zvstr.titelart</kennung>
               <beschreibung>Codeliste der verschiedenen Titelarten.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards für die Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
            <versionCodeliste>
               <version>2.0</version>
               <versionCodelistenHandbuch>1.0</versionCodelistenHandbuch>
            </versionCodeliste>
            <codelistenspalten>
               <code>
                  <spaltennameLang>Schlüssel</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>true</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>true</empfohleneCodeSpalte>
               </code>
               <wert>
                  <spaltennameLang>Wert</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>false</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>false</empfohleneCodeSpalte>
               </wert>
            </codelistenspalten>
            <genutzteCodeSpalte>code</genutzteCodeSpalte>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code">
                  <xs:simpleType>
                     <xs:restriction base="xs:token">
                        <xs:enumeration value="001">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>Anerkenntnisurteil</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="002">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>Arrestbeschluss</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="003">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>Arresturteil</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="004">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>Ausstandsverzeichnis</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="005">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>Auszug Insolvenztabelle</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="006">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>Beitragsbescheid</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="007">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>Beschluss</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="008">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>Beschluss gem. § 758a Absatz 1 ZPO</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="009">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>Beschluss gem. § 758a Absatz 1, 4 ZPO</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="010">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>Beschluss gem. § 758a Absatz 4 ZPO</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="011">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>Duldungsbescheid</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="012">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>Einstweilige Anordnung</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="013">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>Einstweilige Verfügung</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="014">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>Endurteil</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="015">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>Grundschuldbestellungsurkunde</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="016">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>Haftbefehl</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="017">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>Hypothekenbestellungsurkunde</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="018">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>Kindesunterhaltsbeschluss</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="019">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>Kostenfestsetzungsbeschluss</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="020">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>Kostenrechnung</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="021">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>Leistungsbescheid</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="022">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>Notarielle Kostenrechnung</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="023">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>Notarielle Urkunde</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="024">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>Ordnungsgeldbeschluss</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="025">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>Pfändungs- und Überweisungsbeschluss</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="026">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>Prozessbürgschaft</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="027">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>Scheck-Urteil</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="028">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>Scheck-Vollstreckungsbescheid</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="029">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>Sonstiger</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="030">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>Teilanerkenntnis- und Endurteil</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="031">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>Teilurteil</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="032">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>Urkunde</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="033">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>Urteil</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="034">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>Vergleich</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="035">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>Versäumnisurteil</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="036">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>vollstreckbarer Verwaltungsakt</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="037">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>Vollstreckbarerklärung eines Schiedsspruch</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="038">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>Vollstreckungsauftrag</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="039">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>Vollstreckungsbefehl</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="040">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>Vollstreckungsbescheid</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="041">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>Vollstreckungsersuchen</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="042">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>Vollstreckungsurteil</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="043">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>Vollstreckungsverfügung</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="044">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>Vorführbefehl</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="045">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>Vorläufiges Zahlungsverbot</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="046">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>Vorpfändung</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="047">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>Wechsel-Urteil</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="048">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>Wechsel-Vollstreckungsbescheid</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="049">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>Zuschlagsbeschluss</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="050">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>Zwangsgeldbeschluss</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                     </xs:restriction>
                  </xs:simpleType>
               </xs:element>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:zvstr.titelart"/>
            <xs:attribute name="listVersionID"
                          type="xs:normalizedString"
                          use="optional"
                          fixed="2.0"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.ZVSTR.Zeitraum.Unterhaltsforderung">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>ZVSTR.Zeitraum.Unterhaltsforderung</nameLang>
               <nameKurz>ZVSTR.Zeitraum.Unterhaltsforderung</nameKurz>
               <nameTechnisch>zvstr.zeitraum.unterhaltsforderung</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:zvstr.zeitraum.unterhaltsforderung</kennung>
               <beschreibung>Codeliste der verschiedenen Zeiträume bei Unterhaltsforderung.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards für die Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
            <versionCodeliste>
               <version>2.1</version>
               <versionCodelistenHandbuch>1.0</versionCodelistenHandbuch>
            </versionCodeliste>
            <codelistenspalten>
               <code>
                  <spaltennameLang>Schlüssel</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>true</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>true</empfohleneCodeSpalte>
               </code>
               <wert>
                  <spaltennameLang>Wert</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>false</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>false</empfohleneCodeSpalte>
               </wert>
            </codelistenspalten>
            <genutzteCodeSpalte>code</genutzteCodeSpalte>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code">
                  <xs:simpleType>
                     <xs:restriction base="xs:token">
                        <xs:enumeration value="001">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>ab Vollendung des achtzehnten Lebensjahres</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="002">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>von Vollendung zwölftes bis zur Vollendung achtzehntes Lebensjahr</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="003">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>von Vollendung sechstes bis Vollendung zwölften Lebensjahres</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="004">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>bis zur Vollendung des sechsten Lebensjahres</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="005">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>sonstiger Zeitraum</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="006">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>gemäß Anlage</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                     </xs:restriction>
                  </xs:simpleType>
               </xs:element>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:zvstr.zeitraum.unterhaltsforderung"/>
            <xs:attribute name="listVersionID"
                          type="xs:normalizedString"
                          use="optional"
                          fixed="2.1"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.ZVSTR.ZuBeruecksichtigendeKinder">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>ZVSTR.ZuBeruecksichtigendeKinder</nameLang>
               <nameKurz>ZVSTR.ZuBeruecksichtigendeKinder</nameKurz>
               <nameTechnisch>zvstr.zu-beruecksichtigende-kinder</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:zvstr.zu-beruecksichtigende-kinder</kennung>
               <beschreibung>Codeliste der zu berücksichtigenden Kinder.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards für die Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
            <versionCodeliste>
               <version>2.1</version>
               <versionCodelistenHandbuch>1.0</versionCodelistenHandbuch>
            </versionCodeliste>
            <codelistenspalten>
               <code>
                  <spaltennameLang>Schlüssel</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>true</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>true</empfohleneCodeSpalte>
               </code>
               <wert>
                  <spaltennameLang>Wert</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>false</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>false</empfohleneCodeSpalte>
               </wert>
            </codelistenspalten>
            <genutzteCodeSpalte>code</genutzteCodeSpalte>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code">
                  <xs:simpleType>
                     <xs:restriction base="xs:token">
                        <xs:enumeration value="001">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>keine unterhaltspflichtigen Kinder</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="002">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>keine unterhaltspflichtigen Kinder außer dem Gläubiger</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="003">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>X unterhaltsberechtige Kinder</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="004">
                           <xs:annotation>
                              <xs:appinfo>
                                 <wert>X weitere unterhaltsberechtigte Kinder außer dem Gläubiger</wert>
                              </xs:appinfo>
                           </xs:annotation>
                        </xs:enumeration>
                     </xs:restriction>
                  </xs:simpleType>
               </xs:element>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:zvstr.zu-beruecksichtigende-kinder"/>
            <xs:attribute name="listVersionID"
                          type="xs:normalizedString"
                          use="optional"
                          fixed="2.1"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
</xs:schema>
