lookups/xjustiz_0550_cl_nachrichten_3_2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://www.xjustiz.de"
           xmlns:xoev-code="http://xoev.de/schemata/code/1_0"
           targetNamespace="http://www.xjustiz.de"
           version="3.2.0"
           elementFormDefault="unqualified"
           attributeFormDefault="unqualified">
   <xs:annotation>
      <xs:appinfo>
         <standard>
            <nameLang>Strukturierte Fachdaten für die Kommunikation im elektronischen Rechtsverkehr</nameLang>
            <nameKurz>XJustiz</nameKurz>
            <nameTechnisch>xjustiz</nameTechnisch>
            <kennung>urn:xoev-de:blk-ag-it-standards:standard:xjustiz</kennung>
            <beschreibung>XJustiz ist der bundesweit einheitliche Standard für den Austausch strukturierter elektronischer Informationen mit der Justiz.</beschreibung>
         </standard>
         <versionStandard>
            <version>3.3.1</version>
            <beschreibung>XJustiz beschreibt ein standardisiertes Datenaustauschformat für die elektronische Kommunikation innerhalb und mit der Justizverwaltung.</beschreibung>
            <versionXOEVProfil>1.7.1</versionXOEVProfil>
            <versionXOEVHandbuch>2.3.0</versionXOEVHandbuch>
            <versionXGenerator>3.0.1</versionXGenerator>
            <versionModellierungswerkzeug>19.0 SP3</versionModellierungswerkzeug>
            <nameModellierungswerkzeug>MagicDraw</nameModellierungswerkzeug>
         </versionStandard>
      </xs:appinfo>
   </xs:annotation>
   <xs:import schemaLocation="xoev-code.xsd"
              namespace="http://xoev.de/schemata/code/1_0"/>
   <xs:complexType name="Code.BFJ.Nachrichtencode.BZR.Anfrage.unbeschraenkteAuskunft.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>BfJ Nachrichtencode BZR Anfrage unbeschränkte Auskunft</nameLang>
               <nameKurz>BfJ Nachrichtencode BZR Anfrage unbeschränkte Auskunft</nameKurz>
               <nameTechnisch>nachrichtencode.bzr.anfrageunbeschraenkteauskunft</nameTechnisch>
               <kennung>urn:xoev-de:bund:bfj:codeliste:nachrichtencode.bzr.anfrageunbeschraenkteauskunft</kennung>
               <beschreibung>Es wird die Codeliste "BfJ Nachrichtencode BZR Anfrage unbeschränkte Auskunft" des XÖV-Standards XBfJ verwendet. Diese Codeliste bildet die relevanten Nachrichtencodes für BZR-Anfragen für unbeschränkte Auskünfte ab. Der Nachrichtencode wird benötigt, um die fachlich-rechtliche Rolle einer eingehenden Nachricht beim BfJ näher zu bestimmen. Vom Nachrichtencode hängt die weitere Verarbeitung im BfJ und der Umfang der ggf. zu erteilenden Auskunft ab.</beschreibung>
               <herausgebernameLang>Bundesamt für Justiz, Bonn</herausgebernameLang>
               <herausgebernameKurz>BfJ</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
         <xs:documentation>Die Werte einer Codeliste vom Code-Typ 3 können im XRepository eingesehen werden. Nähere Details sind im Kapitel "Codelisten vom Code-Typ 3" beschrieben.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:bund:bfj:codeliste:nachrichtencode.bzr.anfrageunbeschraenkteauskunft"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.BFJ.UebermittelndeStelle.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>BfJ Übermittelnde Stelle</nameLang>
               <nameKurz>BfJ Übermittelnde Stelle</nameKurz>
               <nameTechnisch>bfj.uebermittelndestelle</nameTechnisch>
               <kennung>urn:xoev-de:bund:bfj:codeliste:bfj.uebermittelndestelle</kennung>
               <beschreibung>Es wird die Codeliste ÜbermittelndeStelle des XÖV-Standards XBfJ verwendet. Die Codeliste enthält die Kennzeichen aller Stellen, die als übermittelnde Stellen in den Datenaustausch eingebunden sein können. Als übermittelnde Stellen wird die zentrale Stelle bezeichnet, die die Nachrichten von mehreren Autoren (Fachbehörden) technisch sammelt und weiterleitet bzw. die versendeten Nachrichten empfängt und verteilt.</beschreibung>
               <herausgebernameLang>Bundesamt für Justiz, Bonn</herausgebernameLang>
               <herausgebernameKurz>BfJ</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
         <xs:documentation>Die Werte einer Codeliste vom Code-Typ 3 können im XRepository eingesehen werden. Nähere Details sind im Kapitel "Codelisten vom Code-Typ 3" beschrieben.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:bund:bfj:codeliste:bfj.uebermittelndestelle"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.BFJ.VerwendungszweckAuskunft.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>BfJ Verwendungszweck Auskunft</nameLang>
               <nameKurz>BfJ Verwendungszweck Auskunft</nameKurz>
               <nameTechnisch>bfj.verwendungszweck</nameTechnisch>
               <kennung>urn:xoev-de:bund:bfj:codeliste:bfj.verwendungszweckauskunft</kennung>
               <beschreibung>Es wird die Codeliste "BfJ Verwendungszweck Auskunft" des XÖV-Standards XBfJ verwendet. Codeliste der Verwendungszwecke. Liste der möglichen Zwecke für die Verwendung einer Auskunft. Von einer anfragenden Stelle ist ein solcher Zweck anzugeben. Den in §§ 41 und 61 BZRG bzw. § 150a GewO genannten Stellen wird nur für die dort festgelegten Zwecke eine Auskunft erteilt. Sie dürfen daher nur für diese Zwecke eine Anfrage stellen.</beschreibung>
               <herausgebernameLang>Bundesamt für Justiz, Bonn</herausgebernameLang>
               <herausgebernameKurz>BfJ</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
         <xs:documentation>Die Werte einer Codeliste vom Code-Typ 3 können im XRepository eingesehen werden. Nähere Details sind im Kapitel "Codelisten vom Code-Typ 3" beschrieben.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:bund:bfj:codeliste:bfj.verwendungszweckauskunft"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.STRAF.Anordnungsbefugter.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>STRAF.Anordnungsbefugter</nameLang>
               <nameKurz>STRAF.Anordnungsbefugter</nameKurz>
               <nameTechnisch>straf.anordnungsbefugter</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:straf.anordnungsbefugter</kennung>
               <beschreibung>Diese Codeliste enthält die Anordnungsbefugten im Rahmen der Vermögensabschöpfung.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
         <xs:documentation>Die Werte einer Codeliste vom Code-Typ 3 können im XRepository eingesehen werden. Nähere Details sind im Kapitel "Codelisten vom Code-Typ 3" beschrieben.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:straf.anordnungsbefugter"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.STRAF.Massnahmeart.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>STRAF.Massnahmeart</nameLang>
               <nameKurz>STRAF.Massnahmeart</nameKurz>
               <nameTechnisch>straf.massnahmeart</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:straf.massnahmeart</kennung>
               <beschreibung>Diese Codeliste enthält die Art der angeordneten Maßnahme.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
         <xs:documentation>Die Werte einer Codeliste vom Code-Typ 3 können im XRepository eingesehen werden. Nähere Details sind im Kapitel "Codelisten vom Code-Typ 3" beschrieben.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:straf.massnahmeart"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.STRAF.Massnahmegegenstand.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>STRAF.Massnahmegegenstand</nameLang>
               <nameKurz>STRAF.Massnahmegegenstand</nameKurz>
               <nameTechnisch>straf.massnahmegegenstand</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:straf.massnahmegegenstand</kennung>
               <beschreibung>Diese Codeliste enthält die Art des Gegenstands, auf den sich die Sicherungsmaßname bezieht.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
         <xs:documentation>Die Werte einer Codeliste vom Code-Typ 3 können im XRepository eingesehen werden. Nähere Details sind im Kapitel "Codelisten vom Code-Typ 3" beschrieben.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:straf.massnahmegegenstand"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.STRAF.Sicherungsmassnahme.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>STRAF.Sicherungsmassnahme</nameLang>
               <nameKurz>STRAF.Sicherungsmassnahme</nameKurz>
               <nameTechnisch>straf.sicherungsmassnahme</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:straf.sicherungsmassnahme</kennung>
               <beschreibung>Diese Codeliste enthält die Sicherungsmaßnahmen im Rahmen der Vermögensabschöpfung.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
         <xs:documentation>Die Werte einer Codeliste vom Code-Typ 3 können im XRepository eingesehen werden. Nähere Details sind im Kapitel "Codelisten vom Code-Typ 3" beschrieben.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:straf.sicherungsmassnahme"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.STRAF.WebReg.Zurechnung">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>STRAF.WebReg.Zurechnung</nameLang>
               <nameKurz>STRAF.WebReg.Zurechnung</nameKurz>
               <nameTechnisch>straf.webreg.zurechnung</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:straf.webreg.zurechnung</kennung>
               <beschreibung>Diese Codeliste enthält die Gründe, die zur Meldung einer Entscheidung gegen eine natürliche Person führen können und richtet sich nach § 30 OWiG.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
            <versionCodeliste>
               <version>1.0</version>
               <versionCodelistenHandbuch>1.1</versionCodelistenHandbuch>
            </versionCodeliste>
            <codelistenspalten>
               <code>
                  <spaltennameLang>Schlüssel</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>true</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>true</empfohleneCodeSpalte>
               </code>
               <wert>
                  <spaltennameLang>Wert</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>false</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>false</empfohleneCodeSpalte>
               </wert>
            </codelistenspalten>
            <genutzteCodeSpalte>code</genutzteCodeSpalte>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="tns:straf.webreg.zurechnung"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:straf.webreg.zurechnung"/>
            <xs:attribute name="listVersionID"
                          type="xs:normalizedString"
                          use="optional"
                          fixed="1.0"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="straf.webreg.zurechnung">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>STRAF.WebReg.Zurechnung</nameLang>
               <nameKurz>STRAF.WebReg.Zurechnung</nameKurz>
               <nameTechnisch>straf.webreg.zurechnung</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:straf.webreg.zurechnung</kennung>
               <beschreibung>Diese Codeliste enthält die Gründe, die zur Meldung einer Entscheidung gegen eine natürliche Person führen können und richtet sich nach § 30 OWiG.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
            <versionCodeliste>
               <version>1.0</version>
               <versionCodelistenHandbuch>1.1</versionCodelistenHandbuch>
            </versionCodeliste>
            <codelistenspalten>
               <code>
                  <spaltennameLang>Schlüssel</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>true</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>true</empfohleneCodeSpalte>
               </code>
               <wert>
                  <spaltennameLang>Wert</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>false</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>false</empfohleneCodeSpalte>
               </wert>
            </codelistenspalten>
         </xs:appinfo>
      </xs:annotation>
      <xs:restriction base="xs:token">
         <xs:enumeration value="001">
            <xs:annotation>
               <xs:appinfo>
                  <wert>hat gehandelt als Leitungsperson i.S.v. § 30 Abs. 1 Nr. 1 OWiG</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="002">
            <xs:annotation>
               <xs:appinfo>
                  <wert>hat gehandelt als Leitungsperson i.S.v. § 30 Abs. 1 Nr. 2 OWiG</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="003">
            <xs:annotation>
               <xs:appinfo>
                  <wert>hat gehandelt als Leitungsperson i.S.v. § 30 Abs. 1 Nr. 3 OWiG</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="004">
            <xs:annotation>
               <xs:appinfo>
                  <wert>hat gehandelt als Leitungsperson i.S.v. § 30 Abs. 1 Nr. 4 OWiG</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="005">
            <xs:annotation>
               <xs:appinfo>
                  <wert>hat gehandelt als Leitungsperson i.S.v. § 30 Abs. 1 Nr. 5 OWiG</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="006">
            <xs:annotation>
               <xs:appinfo>
                  <wert>hat gehandelt als eingetragene(r) Kaufmann/Kauffrau</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="007">
            <xs:annotation>
               <xs:appinfo>
                  <wert>hat gehandelt als sonstige(r) Einzelunternehmer(in)</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="008">
            <xs:annotation>
               <xs:appinfo>
                  <wert>nicht identifizierte Leitungsperson</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>
