schemata/XJustiz_3_6_2_XSD/XJustiz_XSD/xjustiz_3110_cl_musterfeststellungsklagenregister_1_3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://www.xjustiz.de"
           xmlns:xoev-code="http://xoev.de/schemata/code/1_0"
           targetNamespace="http://www.xjustiz.de"
           version="1.3.1"
           elementFormDefault="unqualified"
           attributeFormDefault="unqualified">
   <xs:annotation>
      <xs:appinfo>
         <standard>
            <nameLang>Strukturierte Fachdaten für die Kommunikation im elektronischen Rechtsverkehr</nameLang>
            <nameKurz>XJustiz</nameKurz>
            <nameTechnisch>xjustiz</nameTechnisch>
            <kennung>urn:xoev-de:blk-ag-it-standards:standard:xjustiz</kennung>
            <beschreibung>XJustiz ist der bundesweit einheitliche Standard für den Austausch strukturierter elektronischer Informationen mit der Justiz.</beschreibung>
         </standard>
         <versionStandard>
            <version>3.6.2</version>
            <beschreibung>XJustiz beschreibt ein standardisiertes Datenaustauschformat für die elektronische Kommunikation innerhalb und mit der Justizverwaltung.</beschreibung>
            <versionXOEVProfil>3.0.2</versionXOEVProfil>
            <versionXOEVHandbuch>2.3.1</versionXOEVHandbuch>
            <versionXGenerator>3.2.3</versionXGenerator>
            <versionModellierungswerkzeug>2021x</versionModellierungswerkzeug>
            <nameModellierungswerkzeug>MagicDraw</nameModellierungswerkzeug>
         </versionStandard>
      </xs:appinfo>
   </xs:annotation>
   <xs:import schemaLocation="xoev-code.xsd"
              namespace="http://xoev.de/schemata/code/1_0"/>
   <xs:complexType name="Code.MFKREG.ArtDerOeffentlichenBekanntmachung.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>MFKREG.ArtDerÖffentlichenBekanntmachung</nameLang>
               <nameKurz>MFKREG.ArtDerÖffentlichenBekanntmachung</nameKurz>
               <nameTechnisch>mfkreg.artderoeffentlichenbekanntmachung</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:mfkreg.artderoeffentlichenbekanntmachung</kennung>
               <beschreibung>Im Zusammenhang mit der Berichtigung oder Änderung einer Bekanntmachung soll das Gericht die Art der Bekanntmachung angeben. Diese Codeliste enthält alle vorgesehenen Bekanntmachungsarten.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:mfkreg.artderoeffentlichenbekanntmachung"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.MFKREG.Gliederungspunkte.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>MFKREG.Gliederungspunkte</nameLang>
               <nameKurz>MFKREG.Gliederungspunkte</nameKurz>
               <nameTechnisch>mfkreg.gliederungspunkte</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:mfkreg.gliederungspunkte</kennung>
               <beschreibung>Codeliste der möglichen Überschriften der Bekanntmachungen.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:mfkreg.gliederungspunkte"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.MFKREG.Rechtsbelehrungen.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>MFKREG.Rechtsbelehrungen</nameLang>
               <nameKurz>MFKREG.Rechtsbelehrungen</nameKurz>
               <nameTechnisch>mfkreg.rechtsbelehrungen</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:mfkreg.rechtsbelehrungen</kennung>
               <beschreibung>Codeliste für die Vorlagen des BfJ für die Rechtsbelehrungen</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:mfkreg.rechtsbelehrungen"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.MFKREG.Registerauszugsart.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>MFKREG.Registerauszugsart</nameLang>
               <nameKurz>MFKREG.Registerauszugsart</nameKurz>
               <nameTechnisch>mfkreg.registerauszugsart</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:mfkreg.registerauszugsart</kennung>
               <beschreibung>Codeliste der Registerauszugsarten</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:mfkreg.registerauszugsart"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.MFKReg.Bekanntmachungsart.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>MFKREG.Bekanntmachungsart</nameLang>
               <nameKurz>MFKREG.Bekanntmachungsart</nameKurz>
               <nameTechnisch>mfkreg.bekanntmachungsart</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:mfkreg.bekanntmachungsart</kennung>
               <beschreibung>Mit der Codeliste kann angegeben werden, ob es sich bei der Bekanntmachung einer Entscheidung um einen Beschluss oder um eine Urteilsverkündung handelt.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:mfkreg.bekanntmachungsart"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.MFKReg.Klageart.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>MFKREG.Klageart</nameLang>
               <nameKurz>MFKREG.Klageart</nameKurz>
               <nameTechnisch>mfkreg.klageart</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:mfkreg.klageart</kennung>
               <beschreibung>Die Codeliste enthält die verschiedenen Arten von Verbandsklagen. Im Verbandsklageregister können sowohl Musterfeststellungsklagen als auch Abhilfeklagen geführt werden. Beide Klagearten können auch zusammen geführt werden.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:mfkreg.klageart"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
</xs:schema>
